fastapi[all]==0.59.0
uvicorn==0.11.6
asyncpg==0.20.1
# oauth support
authlib==0.14.3
# internal extra dependency of oauthlib
httpx==0.13.3
# for testing
pytest==5.4.3
# for fast JSON serialization with support for many datatypes
orjson==3.2.2
