.ui.input.clozefield > input[type="text"]{
  width: 4em;
  /* margin: 0.3em; */
  padding: 0.3em;
  background-color: rgb(224, 224, 224);
}

.ui.basic.label.label {
  /* width: 4em; */
  /* margin: 0.3em; */
  /* padding: 0.3em; */
  background-color: rgb(255, 248, 188);
  margin-left: 0.3em;
}
