body {
  margin: 0;
  padding: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Do not have the menu cover the selection of the language */
.ui.top.fixed.menu {
  z-index: 8;
}

/* These are necessary to have an inverted submenu, by efault does not work*/
.ui.inverted.menu .menu.transition.visible {
  background: #1b1c1d;
}

.ui.inverted.menu .menu.transition.blackeddropdown {
  background: #1b1c1d;
}

/*more space between logout button and menu*/
.menu.transition .ui.button {
  margin: 0.3em;
}

span.correct-answer {
  font-weight: bold;
  color: darkgreen;
  text-decoration: underline;
}

span.wrong-answer {
  font-weight: bold;
  color: red;
  text-decoration: underline;
}

span.expected-answer {
  font-style: italic;
}
